  <div class="row-fluid">
	  <h5> Hipchat Details </h5>
	  <div class="editor-option">
	  <input type="text" class="input-medium" ng-model="panel.hipchat_details" placeholder="hipchat callback..."></input>
	  </div>
	  <h5> Email Details </h5>
	  <div class="editor-option">
	  <input type="email" class="input-medium" ng-model="panel.email_details" placeholder="email notify address..."></input>
	  </div>
	  <h5> Pagerduty Details </h5>
	  <div class="editor-option">
	  <input type="text" class="input-medium" ng-model="panel.pagerduty_details" placeholder="pagerduty id..."></input>
	  </div>
  </div>
